

@font-face {
    font-family: 'SubwayTicker' ;
    src: url(/arch1ve/assets/fonts/subwayticker.ttf) format('truetype');
}

@font-face {
    font-family: '0xProtoNerd' ;
    src: url(/arch1ve/assets/fonts/0xProtoNerd.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "0xProtoNerd", monospace;
  background: #ffffff;
  color: #111;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "SubwayTicker", monospace;

}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  padding: 20px;
  background: #a5a5a5;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-image: url('/arch1ve/assets/textures/fondo6.jpeg');
  background-repeat: repeat-y;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

/* LISTA */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

/* LINKS */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* CONTENIDO */
.content {
  margin-left: 260px;
  padding: 40px;
  max-width: 700px;
  line-height: 1.6;
}
.menu {
  text-align: left;
  font-family: '0xProtoNerd', monospace;
}

.menu ul {
  list-style: none;
  padding: 0;
}